#jokeEle {
    font-size: 1.5em;
    background-color: #1f2d3d;
    color: #1bebb9;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participants {
    display: flex;
    flex-wrap: wrap;
}

#controls {
    margin-bottom: 25px;
}
#participants .participant {
    width: 300px;
}

video {
    width: 100%;
    height: 100%;
}

button {
    background-color: #1bebb9;
    border-color: #1bebb9;
    color: #121a24;
    padding: 3px;
    font-size: 1.2em;
}

button:hover {
    border-color: black;    
}

.hidden {
    display: none;
}